<a href="https://colab.research.google.com/github/ja-yu/CS2020/blob/master/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Object creation

In [1]:
import numpy as np
import pandas as pd

s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [89]:
s = pd.Series([1, 3, 5, np.nan, 6, 8], index=['a','b','c','d','e','f'])
s

a    1.0
b    3.0
c    5.0
d    NaN
e    6.0
f    8.0
dtype: float64

In [90]:
s = pd.Series([1, 3, 5, np.nan, 6, 8], index=[11,12,13,14,15,16])
s

11    1.0
12    3.0
13    5.0
14    NaN
15    6.0
16    8.0
dtype: float64

In [91]:
s = pd.Series([1, 3, 5, np.nan, 6, 8], index=[10,20,30,40,50,60])
s

10    1.0
20    3.0
30    5.0
40    NaN
50    6.0
60    8.0
dtype: float64

In [3]:
dates = pd.date_range('20200101', periods=6)
dates

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06'],
              dtype='datetime64[ns]', freq='D')

In [74]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2020-01-01 -1.093991 -1.646852 -0.205007  1.538956
2020-01-02  0.717823  2.639230 -0.332723  2.165833
2020-01-03  0.670213  0.455344  0.388840  0.804650
2020-01-04 -0.614405 -0.800632 -0.435212 -0.879398
2020-01-05 -0.406106  0.110878  0.963780  0.277690
2020-01-06 -0.363597  0.919493 -0.798685  1.411097

In [11]:
df2 = pd.DataFrame({'A': 1.,
           'B': pd.date_range('20200101', periods=4),
           'C': pd.Series(1, index=list(range(4)), dtype='float32'),
           'D': np.array([3] * 4, dtype='int32'),
           'E': pd.Categorical(["test", "train", "test", "train"]),
           'F': 'foo'})

df2

     A          B    C  D      E    F
0  1.0 2020-01-01  1.0  3   test  foo
1  1.0 2020-01-02  1.0  3  train  foo
2  1.0 2020-01-03  1.0  3   test  foo
3  1.0 2020-01-04  1.0  3  train  foo

In [9]:
df2 = pd.DataFrame({'A': 1.,
           'B': pd.Timestamp('20200102'),
           'C': pd.Series(1, index=list(range(4)), dtype='float32'),
           'D': np.array([3] * 4, dtype='int32'),
           'E': pd.Categorical(["test", "train", "test", "train"]),
           'F': 'foo'})

df2

     A          B    C  D      E    F
0  1.0 2020-01-02  1.0  3   test  foo
1  1.0 2020-01-02  1.0  3  train  foo
2  1.0 2020-01-02  1.0  3   test  foo
3  1.0 2020-01-02  1.0  3  train  foo

In [13]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [18]:
df2.A

0    1.0
1    1.0
2    1.0
3    1.0
Name: A, dtype: float64

In [19]:
df2.abs

<bound method NDFrame.abs of      A          B    C  D      E    F
0  1.0 2020-01-01  1.0  3   test  foo
1  1.0 2020-01-02  1.0  3  train  foo
2  1.0 2020-01-03  1.0  3   test  foo
3  1.0 2020-01-04  1.0  3  train  foo>

Viewing data

In [75]:
df.head()

                   A         B         C         D
2020-01-01 -1.093991 -1.646852 -0.205007  1.538956
2020-01-02  0.717823  2.639230 -0.332723  2.165833
2020-01-03  0.670213  0.455344  0.388840  0.804650
2020-01-04 -0.614405 -0.800632 -0.435212 -0.879398
2020-01-05 -0.406106  0.110878  0.963780  0.277690

In [76]:
df.tail(3)

                   A         B         C         D
2020-01-04 -0.614405 -0.800632 -0.435212 -0.879398
2020-01-05 -0.406106  0.110878  0.963780  0.277690
2020-01-06 -0.363597  0.919493 -0.798685  1.411097

In [77]:
df.index

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06'],
              dtype='datetime64[ns]', freq='D')

In [78]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [79]:
df.to_numpy()

array([[-1.09399107, -1.64685177, -0.20500732,  1.53895642],
       [ 0.71782261,  2.63922966, -0.33272322,  2.16583251],
       [ 0.67021284,  0.45534404,  0.3888399 ,  0.80464968],
       [-0.61440465, -0.80063228, -0.43521205, -0.87939815],
       [-0.40610635,  0.11087843,  0.96377991,  0.27769033],
       [-0.36359709,  0.91949325, -0.7986849 ,  1.4110968 ]])

In [25]:
df2.to_numpy()

array([[1.0, Timestamp('2020-01-01 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2020-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2020-01-03 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2020-01-04 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [80]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.181677  0.279577 -0.069835  0.886471
std    0.726340  1.477483  0.637314  1.080124
min   -1.093991 -1.646852 -0.798685 -0.879398
25%   -0.562330 -0.572755 -0.409590  0.409430
50%   -0.384852  0.283111 -0.268865  1.107873
75%    0.411760  0.803456  0.240378  1.506992
max    0.717823  2.639230  0.963780  2.165833

In [81]:
df.T

   2020-01-01  2020-01-02  2020-01-03  2020-01-04  2020-01-05  2020-01-06
A   -1.093991    0.717823    0.670213   -0.614405   -0.406106   -0.363597
B   -1.646852    2.639230    0.455344   -0.800632    0.110878    0.919493
C   -0.205007   -0.332723    0.388840   -0.435212    0.963780   -0.798685
D    1.538956    2.165833    0.804650   -0.879398    0.277690    1.411097

In [82]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2020-01-01  1.538956 -0.205007 -1.646852 -1.093991
2020-01-02  2.165833 -0.332723  2.639230  0.717823
2020-01-03  0.804650  0.388840  0.455344  0.670213
2020-01-04 -0.879398 -0.435212 -0.800632 -0.614405
2020-01-05  0.277690  0.963780  0.110878 -0.406106
2020-01-06  1.411097 -0.798685  0.919493 -0.363597

In [83]:
df.sort_index(axis=0, ascending=False)

                   A         B         C         D
2020-01-06 -0.363597  0.919493 -0.798685  1.411097
2020-01-05 -0.406106  0.110878  0.963780  0.277690
2020-01-04 -0.614405 -0.800632 -0.435212 -0.879398
2020-01-03  0.670213  0.455344  0.388840  0.804650
2020-01-02  0.717823  2.639230 -0.332723  2.165833
2020-01-01 -1.093991 -1.646852 -0.205007  1.538956

In [29]:
df.sort_values(by='B')

                   A         B         C         D
2020-01-05 -0.409247 -0.720791 -1.465059 -0.272008
2020-01-02  0.520340 -0.570096 -0.006866 -0.348937
2020-01-01 -0.480820  0.021904  0.110065 -0.114169
2020-01-06 -0.702206  0.024067 -0.552622 -1.981512
2020-01-03  1.791102  0.416454  0.248522  1.150284
2020-01-04  0.827391  0.817610  1.069283  0.162191

Getting

In [30]:
df['A']

2020-01-01   -0.480820
2020-01-02    0.520340
2020-01-03    1.791102
2020-01-04    0.827391
2020-01-05   -0.409247
2020-01-06   -0.702206
Freq: D, Name: A, dtype: float64

In [31]:
df[0:3]

                   A         B         C         D
2020-01-01 -0.480820  0.021904  0.110065 -0.114169
2020-01-02  0.520340 -0.570096 -0.006866 -0.348937
2020-01-03  1.791102  0.416454  0.248522  1.150284

In [33]:
df['20200102':'20200104']

                   A         B         C         D
2020-01-02  0.520340 -0.570096 -0.006866 -0.348937
2020-01-03  1.791102  0.416454  0.248522  1.150284
2020-01-04  0.827391  0.817610  1.069283  0.162191

Selection by label

In [34]:
 df.loc[dates[0]]

A   -0.480820
B    0.021904
C    0.110065
D   -0.114169
Name: 2020-01-01 00:00:00, dtype: float64

In [35]:
df.loc[:, ['A', 'B']]

                   A         B
2020-01-01 -0.480820  0.021904
2020-01-02  0.520340 -0.570096
2020-01-03  1.791102  0.416454
2020-01-04  0.827391  0.817610
2020-01-05 -0.409247 -0.720791
2020-01-06 -0.702206  0.024067

In [37]:
df.loc['20200102':'20200104', ['A', 'B']]

                   A         B
2020-01-02  0.520340 -0.570096
2020-01-03  1.791102  0.416454
2020-01-04  0.827391  0.817610

In [39]:
df.loc['20200102', ['A', 'B']]

A    0.520340
B   -0.570096
Name: 2020-01-02 00:00:00, dtype: float64

In [40]:
df.loc[dates[0], 'A']

-0.4808197074147157

In [41]:
df.at[dates[0], 'A']

-0.4808197074147157

Selection by position

In [42]:
df.iloc[3]

A    0.827391
B    0.817610
C    1.069283
D    0.162191
Name: 2020-01-04 00:00:00, dtype: float64

In [43]:
df.iloc[3:5, 0:2]

                   A         B
2020-01-04  0.827391  0.817610
2020-01-05 -0.409247 -0.720791

In [44]:
df.iloc[[1, 2, 4], [0, 2]]

                   A         C
2020-01-02  0.520340 -0.006866
2020-01-03  1.791102  0.248522
2020-01-05 -0.409247 -1.465059

In [45]:
df.iloc[1:3, :]

                   A         B         C         D
2020-01-02  0.520340 -0.570096 -0.006866 -0.348937
2020-01-03  1.791102  0.416454  0.248522  1.150284

In [46]:
 df.iloc[:, 1:3]

                   B         C
2020-01-01  0.021904  0.110065
2020-01-02 -0.570096 -0.006866
2020-01-03  0.416454  0.248522
2020-01-04  0.817610  1.069283
2020-01-05 -0.720791 -1.465059
2020-01-06  0.024067 -0.552622

In [49]:
df

                   A         B         C         D
2020-01-01 -0.480820  0.021904  0.110065 -0.114169
2020-01-02  0.520340 -0.570096 -0.006866 -0.348937
2020-01-03  1.791102  0.416454  0.248522  1.150284
2020-01-04  0.827391  0.817610  1.069283  0.162191
2020-01-05 -0.409247 -0.720791 -1.465059 -0.272008
2020-01-06 -0.702206  0.024067 -0.552622 -1.981512

In [47]:
df.iloc[1, 1]

-0.5700957208822774

In [48]:
df.iat[1, 1]

-0.5700957208822774

Boolean indexing

In [50]:
df[df['A'] > 0]

                   A         B         C         D
2020-01-02  0.520340 -0.570096 -0.006866 -0.348937
2020-01-03  1.791102  0.416454  0.248522  1.150284
2020-01-04  0.827391  0.817610  1.069283  0.162191

In [51]:
df[df > 0]

                   A         B         C         D
2020-01-01       NaN  0.021904  0.110065       NaN
2020-01-02  0.520340       NaN       NaN       NaN
2020-01-03  1.791102  0.416454  0.248522  1.150284
2020-01-04  0.827391  0.817610  1.069283  0.162191
2020-01-05       NaN       NaN       NaN       NaN
2020-01-06       NaN  0.024067       NaN       NaN

In [53]:
df2 = df.copy()
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three']
df2

                   A         B         C         D      E
2020-01-01 -0.480820  0.021904  0.110065 -0.114169    one
2020-01-02  0.520340 -0.570096 -0.006866 -0.348937    one
2020-01-03  1.791102  0.416454  0.248522  1.150284    two
2020-01-04  0.827391  0.817610  1.069283  0.162191  three
2020-01-05 -0.409247 -0.720791 -1.465059 -0.272008   four
2020-01-06 -0.702206  0.024067 -0.552622 -1.981512  three

Setting

In [59]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range('20200102', periods=6))
s1

2020-01-02    1
2020-01-03    2
2020-01-04    3
2020-01-05    4
2020-01-06    5
2020-01-07    6
Freq: D, dtype: int64

In [60]:
df['F'] = s1

In [61]:
df.at[dates[0], 'A'] = 0
df

                   A         B         C         D    F
2020-01-01  0.000000  0.021904  0.110065 -0.114169  NaN
2020-01-02  0.520340 -0.570096 -0.006866 -0.348937  1.0
2020-01-03  1.791102  0.416454  0.248522  1.150284  2.0
2020-01-04  0.827391  0.817610  1.069283  0.162191  3.0
2020-01-05 -0.409247 -0.720791 -1.465059 -0.272008  4.0
2020-01-06 -0.702206  0.024067 -0.552622 -1.981512  5.0

In [63]:
df.iat[0, 1] = 0
df

                   A         B         C         D    F
2020-01-01  0.000000  0.000000  0.110065 -0.114169  NaN
2020-01-02  0.520340 -0.570096 -0.006866 -0.348937  1.0
2020-01-03  1.791102  0.416454  0.248522  1.150284  2.0
2020-01-04  0.827391  0.817610  1.069283  0.162191  3.0
2020-01-05 -0.409247 -0.720791 -1.465059 -0.272008  4.0
2020-01-06 -0.702206  0.024067 -0.552622 -1.981512  5.0

In [65]:
df.loc[:, 'D'] = np.array([5] * len(df))
df

                   A         B         C  D    F
2020-01-01  0.000000  0.000000  0.110065  5  NaN
2020-01-02  0.520340 -0.570096 -0.006866  5  1.0
2020-01-03  1.791102  0.416454  0.248522  5  2.0
2020-01-04  0.827391  0.817610  1.069283  5  3.0
2020-01-05 -0.409247 -0.720791 -1.465059  5  4.0
2020-01-06 -0.702206  0.024067 -0.552622  5  5.0

In [66]:
df2 = df.copy()
df2[df2 > 0] = -df2
df2

                   A         B         C  D    F
2020-01-01  0.000000  0.000000 -0.110065 -5  NaN
2020-01-02 -0.520340 -0.570096 -0.006866 -5 -1.0
2020-01-03 -1.791102 -0.416454 -0.248522 -5 -2.0
2020-01-04 -0.827391 -0.817610 -1.069283 -5 -3.0
2020-01-05 -0.409247 -0.720791 -1.465059 -5 -4.0
2020-01-06 -0.702206 -0.024067 -0.552622 -5 -5.0

Missing data

In [67]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1], 'E'] = 1
df1

                   A         B         C  D    F    E
2020-01-01  0.000000  0.000000  0.110065  5  NaN  1.0
2020-01-02  0.520340 -0.570096 -0.006866  5  1.0  1.0
2020-01-03  1.791102  0.416454  0.248522  5  2.0  NaN
2020-01-04  0.827391  0.817610  1.069283  5  3.0  NaN

In [68]:
df1.dropna(how='any')

                  A         B         C  D    F    E
2020-01-02  0.52034 -0.570096 -0.006866  5  1.0  1.0

In [69]:
df1.fillna(value=5)

                   A         B         C  D    F    E
2020-01-01  0.000000  0.000000  0.110065  5  5.0  1.0
2020-01-02  0.520340 -0.570096 -0.006866  5  1.0  1.0
2020-01-03  1.791102  0.416454  0.248522  5  2.0  5.0
2020-01-04  0.827391  0.817610  1.069283  5  3.0  5.0

In [70]:
pd.isna(df1)

                A      B      C      D      F      E
2020-01-01  False  False  False  False   True  False
2020-01-02  False  False  False  False  False  False
2020-01-03  False  False  False  False  False   True
2020-01-04  False  False  False  False  False   True

In [92]:
df2 = pd.DataFrame({'A': 1.,
           'B': pd.Timestamp('201201021'),
           'C': pd.Series(1, index=list(range(4)), dtype='float32'),
           'D': np.array([3] * 4, dtype='int32'),
           'E': pd.Categorical(["test", "train", "test", "train"]),
           'F': 'foo'})
df2

ValueError: ignored

In [93]:
df2 = pd.DataFrame({'A': 1.,
           'B': pd.Timestamp('20121021'),
           'C': pd.Series(1, index=list(range(4)), dtype='float32'),
           'D': np.array([3] * 4, dtype='int32'),
           'E': pd.Categorical(["test", "train", "test", "train"]),
           'F': 'foo'})
df2

     A          B    C  D      E    F
0  1.0 2012-10-21  1.0  3   test  foo
1  1.0 2012-10-21  1.0  3  train  foo
2  1.0 2012-10-21  1.0  3   test  foo
3  1.0 2012-10-21  1.0  3  train  foo

In [94]:
df2 = pd.DataFrame({'A': 1.,
           'B': pd.Timestamp('20121021'),
           'C': pd.Series(1, index=list(range(46)), dtype='float32'),
           'D': np.array([3] * 4, dtype='int32'),
           'E': pd.Categorical(["test", "train", "test", "train"]),
           'F': 'foo'})
df2

ValueError: ignored

In [95]:
df2 = pd.DataFrame({'A': 1.,
           'B': pd.Timestamp('20121021'),
           'C': pd.Series(1, index=list(range(4)), dtype='float32'),
           'D': np.array([3] * 4, dtype='int32'),
           'E': pd.Categorical(["test", "train", "test", "train"]),
           'F': 'foo'})
df2

     A          B    C  D      E    F
0  1.0 2012-10-21  1.0  3   test  foo
1  1.0 2012-10-21  1.0  3  train  foo
2  1.0 2012-10-21  1.0  3   test  foo
3  1.0 2012-10-21  1.0  3  train  foo